@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    color: antiquewhite;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(12, 12, 86, 1) 27%, rgba(0, 0, 0, 1) 100%);
}

#chartContainer{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 1%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(7px) saturate(100%);
    -webkit-backdrop-filter: blur(4px) saturate(200%);
    background-color: rgba(10, 33, 72, 0.74);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

#chartContainer canvas{
    margin: 2%;
}

#line-chart{
    max-width: 600px;
    max-height: 600px;
}

#chartContainer canvas:hover{
    width: 700px;
    height: 700px;
}

section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    min-height: 10vh;
    margin: 10px;
}

h1{
    font-family: Libre Baskerville;
    font-size: 64px;
}
h3{
    font-family: Merriweather;
    font-size: 30px;
}